.night-mode {
    background-color: black;
    color: white;
  }
  

  .navbar_static {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
   
    margin-bottom: 80px;
    
  }

  